{% extends 'default/base.html' %}
{% load static %}

{% block title %}<title>DQR - Home</title>{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'default/css/index.css' %}">
<script src="{% static 'default/js/index.js' %}"></script>
{% endblock %}

{% block body %}

<div id="loader-wrapper">
    <div class="loader"></div>
</div>
  
<div class="spacer"></div>

<div class="container" id="main-container">
  <div class="row">
    <div class="col">
      <h1>Hello {{ user.username }}, welcome to DRQ!</h1>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="row">
    <div class="col">
      <h2>Current active DQRcodes:</h2>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="row w-100">
    <div class="col">
      <table class="table">
        <tr>
            <th>NAME</th>
            <th>URL</th>
            <th>MODIFIED</th>
            <th>IMAGE</th>
        </tr>
      </table>
        
        <div class="accordion w-100" id="accordionExample">
          {% for qrcode in qrcodes %}

          <div class="accordion-item w-100">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                <table class="w-100">
                  <tr>
                      <td>{{ qrcode.name }}</td>
                      <td><a href="{{ qrcode.external_url }}">{{ qrcode.external_url }}</a></td>
                      <td>{{ qrcode.modified }}</td>
                      {% if qrcode.image %}
                        <td><a href="/appmedia/{{ qrcode.image }}" download=""><img src="/appmedia/{{ qrcode.image }}" alt="QRcode Image" height="100"></a></td>
                      {% endif %}
                  </tr>
                  </table>
              </button>
            </h2>
            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">

                <div class="row">   
                  <div class="col">
                    <h3>Modify DQRcode</h3>
                    <form action="{% url 'modifyqrcode' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ qrcode.id }}" name="x-id">
                        <input class="form-control" type="text"  placeholder="Change name" name="x-name">
                        <input class="form-control" type="text"  placeholder="Change URL" name="x-url">
                        <input class="form-control" type="submit" value="Change" />
                    </form>
                  </div>
                  <div class="col">
                    <h3>Upload custom image</h3>
                    <form action="" method="post">
                      {% csrf_token %}
                      <input type="hidden" value="{{ qrcode.id }}" name="x-id">
                      <input class="form-control" type="file" name="x-image">
                      <input class="form-control" type="submit" value="Change">
                    </form>
                  </div>
                  <div class="row">
                    <div class="col">
                      <form action="{% url 'deleteqrcode' %}" method="post">
                          {% csrf_token %}
                          <input type="hidden" value="{{ qrcode.id }}" name="x-id">
                          <input class="form-control" type="submit" value="Delete" style="background-color: red; color: white; font-weight: bolder;"/>
                    </form>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        {% endfor %}
        </div>

    </div>
  </div>

  <div class="spacer"></div>
  
  <div class="row">
    <div class="col">
      <h3>Create new DQRcode</h3>
      <form action="{% url 'addqrcode' %}" method="post">
        {% csrf_token %}
        <input class="form-control" placeholder="Name" type="text" name="x-name" id="x-name">
        <input class="form-control" placeholder="URL" type="text" name="x-url" id="x-url">
        <input class="form-control" type="submit" value="Add">
      </form>
    </div>
  </div>

</div>






<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>

<script type="text/javascript">
    $(window).on('load', function() {
      $("#loader-wrapper").fadeOut(700);
    });
  </script>
{% endblock %}